<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Portal de Serviços</title>
</head>

<body>
    <header>
        <img class="logo" src="/images/logo.gif" alt="logo-photo">
        <nav>
            <ul class="nav_links">
                <li><a href="/home">Início</a></li>
                {{#if user}}
                    <li><a href="/services">Serviços</a></li>
                {{#if isProfessional}}
                    <li><a href="/services/new">Cadastrar projeto</a></li>
                {{/if}}
                    <span>&lt; Olá {{user.name}}! &gt;</span>
                    <li><a href="/logout">Sair</a></li>
                {{else}}
                    <li><a href="/signup">Cadastre-se</a></li>
                    <a class="cta" href="/login"><button>Entrar</button></a>
                {{/if}}
            </ul>
        </nav>
    </header>

    {{{body}}}
</body>

</html>