<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Portal de Serviços</title>
</head>
<body>
    <nav>
        <a href="/home">Home</a>
        {{#if user}}
        <a href="/services">Serviços</a>
        {{#if isProfessional}}
            <a href="/services/new">Cadastrar projeto</a>
        {{/if}}
        <a href="/logout">Sair</a>
        <span>Olá {{user.name}}!</span>
{{else}}
        <a href="/login">Entrar</a>
        <a href="/signup">Cadastre-se</a>
    {{/if}}
    </nav>

    {{{body}}}

</body>
</html>