<h1>Faça o login.</h1>

<form action="/login" method="post">
        <input type="email" name="userEmail" placeholder="Informe seu email" required>
            {{#if userEmailError}}
                <span class="warning">{{userEmailError}}</span>
            {{/if}}
    </div>

    <div>
        <input type="password" name="userPassword" placeholder="Digite sua senha de acesso">
            {{#if userPasswordError}}
                <span class="warning">{{userPasswordError}}</span>
            {{/if}}
    </div>

    <button type="submit">Acessar a plataforma</button>
</form>