<div><br>
    <form action="/services/new" method="post">
        <input type="text" name="serviceTitle" placeholder="Insira um título para o seu projeto.">
        <input type="text" name="serviceDescription" placeholder="Descreva o tipo de serviço.">
        <input type="text" name="imageProject" placeholder="Link das fotos do projeto.">
        <button type="submit">Cadastar projeto!</button>
    </form>
</div>