<div class="formLogin"><br>
    <h4>Cadastre quantos projetos quiser e mostre para todo mundo o que você faz!</h4>

    <form action="/services/new" method="post" enctype="multipart/form-data">
        <input type="text" name="serviceTitle" placeholder="Insira um título para o seu projeto.">
        <input type="text" name="serviceDescription" placeholder="Descreva o seu projeto.">
        <h6>Insira fotos dos seus projetos para valorizar ainda mais o seu talento.</h6>
        <input type="file" name="imageProject" placeholder="Link das fotos do projeto.">
        <button type="submit">Cadastrar projeto!</button>
    </form>
</div>