<h1>Cadastre-se no portal de serviços como PROFISSIONAL!</h1>

<form action="/signup" method="post" enctype="multipart/form-data">
    <div>
        <input type="text" name="userName" placeholder="Digite o seu nome e sobrenome">
            {{#if userNameErrors}}
                {{#each userNameErrors}}
                    <span class="warning">{{this}}</span>
                {{/each}}
            {{/if}}
    </div>

    <div>
        <input type="file" name="userImage" placeholder="Link da sua foto">
    </div>

    <div>
        <input type="email" name="userEmail" placeholder="Informe seu email">
            {{#if userEmailErrors}}
                <span class="warning">{{userEmailErrors.[0]}}</span>
            {{/if}}
    </div>

    <div>
        <input type="text" name="userPhone" placeholder="Informe seu número de telefone">
            {{#if userPhoneErrors}}
                <span class="warning">{{userPhoneErrors.[0]}}</span>
            {{/if}}
    </div>

    <div>
        <input type="password" name="userPassword" placeholder="Crie sua senha de acesso">
            {{#if userPasswordErrors}}
                <span class="warning">{{userPasswordErrors.[0]}}</span>
            {{/if}}
    </div>

    <button type="submit">Efetuar cadastro</button>
</form>

