* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    height: 70px;
    background-color: #3c2d76;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav > a {
    font-size: 20px;
    text-decoration: none;
    color: white;
}

nav > a:hover {
    color: #e55b87;
    transition: color 0.2s;
}

a {
    font-size: 14px;
}

.warning {
    display: block;
    color: tomato;
}

span {
    color: white;
}